body {
    margin: 0;
    font-family: 'Roboto';
    box-sizing: border-box; }

#barra {
    background-color: #1CD1B0;
    color:black;
    padding: 10px;
    font-size: 15px;
}


header {
    background-color: #00669F;
    padding: 28px;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    position: sticky;
    top: 0px;
    z-index: 10;
}

header h1 {
    margin: 0;
    font-size: 40px;
    font-weight: 400;
}

#contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10vw;
    margin-bottom: 10vw;
}

article {
    flex: 1;
    background-color: #F3F3F3;
    max-width: 20vw;
    margin-right: 30px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    margin-bottom: 40px;
    
}

article:last-child {
    margin-right: 0;
}

article .imagenFondo {
    width: 100%;
}

article .imagenCircular {
    border-radius: 50%;
    height: 118px;
    display: block;
    margin: 0 auto;
    margin-top: -59px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%)
}

.corazon {
    position: absolute;
    margin-bottom: 26vw;
    margin-left: 1vw;
    margin-top: 1vw;
    
}


.descripcionPersonaje {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.descripcionPersonaje button {
    background: #00669F;
    color: white;
    padding: 16px 32px;
    font-size: 15px;
    border: 0;
    margin-top: 10px;
}


.nombrePersonaje {
    font-size: 30px;
}

footer {
    background-color: #00669F;
    color: #FFF9F9;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 16px;
    bottom: 0px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    align-items: flex-end;
}

.texto {
    color: #333333;
    font-size: 16px;
}