.banner { 
  background-image: url('../img/bowl_background.png');
  background-size: cover;
  height: 600px;
}

.banner button {
  color:#FFFFFF;
  background-color: #F0A83E;
}
.barritaArriba {
  background-color: #222222;
  color: #F3F3F3
}

.barritaAbajo {
    background-color: #F0A83E;
    color: #F3F3F3
}



.contacto {
    background-color: #3C2313;
    color:  #FFFFFF
}


.detalle {
  color: #8A8787;
}


.listaProductos {
  color: #666666;
}

.parteAbajo {
  background-color: #F0A83E;
  color: white;
}


.precioProducto {
  color: #F0A83E;
}

.nombreProducto {
  color: #3C2313;
}
